.noteCard{
background-color: cornsilk;
margin: 4px;
}

.cardText{
    white-space:pre-line;

}

.cardBody{
    max-height: 20vh;
    overflow: hidden;
    mask-image: linear-gradient(180deg , #000 50% ,transparent);
}

.width100{
    width: 100%;
    /* height: 5vh; */
}